body {
    background-color: #F0F0F0;
}

header {
    background-color: #303B44;
    height: 50px;
    color: #F0F0F0;
    position: fixed;
    width: 100%;
}

header h2 {
    display: inline;
    padding-left: 2%;
    width: 71%;
}

header .login {
    display: inline;
    padding-left: 73%;
}

header .login-icon {
    width: 30px;
    height: 46px;
}

header .signup {
    display: inline;
    padding-left: 1%;
}

header .signup-icon {
    width: 37px;
    height: 47px;
}

header .profile {
    display: inline;
    padding-left: 73%;
}

header .profile-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
}

header form {
    display: inline;
}

header form button {
    border: solid 0px black;
    background-color: #303B44;
    color: #F0F0F0;
    font-size: 24px;
    padding-left: 1%;
}

header form button img {
    width: 30px;
    height: 46px;
}

header a {
    color: #F0F0F0;
    text-decoration: none;
}

header a:hover, header form button:hover {
    color: #87CEEB;
}

header a.homepage-link:hover {
    color: #F0F0F0;
}
