.content {
    padding-top: 3%;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 500;
}

.body {
    font-size: 22px;
    width: 50%;
    margin-left: 25%;
    text-align: justify;
}

div button {
    border-radius: 10px;
    background-color: #303B44;
    color: #F0F0F0;
    border: none;
    width: 6%;
    height: 35px;
    font-size: 20px;
    transition: color 0.2s ease;
}

div button:hover {
    color: #87CEEB;
}
