h1 {
    text-align: center;
    padding-top: 3%;
}

form label.input-label {
    width: 43.5%;
    text-align: right;
    padding-top: 10px;
    font-size: 20px;
}

form input {
    margin-left: 5px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
}

form label.error {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 20px;
}

.set-password-btn {
    margin-left: 48%;
    margin-top: 15px;
}
