{% extends 'base.html' %}
{% load static %}
{% block css_links %}
<link rel="stylesheet" href="{% static 'authorization/css/reset_password_styles.css' %}">
{% endblock %}
{% block title %}
Reset password
{% endblock %}
{% block content %}
<h1>Reset password</h1>
<form method="post" class="reset-password">
    {% for field in form %}
        {% for error in field.errors %}
            <label class="error">{{ error }}</label><br>
        {% endfor %}
    {% endfor %}
    <label class="username-or-email">Username or email: </label>{{ form.username_or_email }}<br>
    {% csrf_token %}
    <button type="submit" class="btn btn-success send-code">Send code</button>
</form>
{% endblock %}