{% extends 'base.html' %}
{% load static %}
{% block css_links %}
<link rel="stylesheet" href="{% static 'authorization/css/set_new_password_styles.css' %}">
{% endblock %}
{% block title %}
Set new password
{% endblock %}
{% block content %}
<h1>Set new password</h1>
<form method="post" class="set-password">
    {% for field in form %}
        {% for error in field.errors %}
            <label class="error">{{ error }}</label><br>
        {% endfor %}
    {% endfor %}
    <label class="input-label">Password: </label>{{ form.password }}<br>
    <label class="input-label">Password confirm: </label>{{ form.password_confirm }}<br>
    {% csrf_token %}
    <button type="submit" class="btn btn-success set-password-btn">Done</button>
</form>
{% endblock %}